<div [formGroup]="adresseForm">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Rue</mat-label>
      <input formControlName="rue" matInput placeholder="Rue">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Ville</mat-label>
      <input formControlName="ville" matInput placeholder="Ville">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Code postale</mat-label>
      <input formControlName="code_postale" matInput placeholder="Code postale">
    </mat-form-field>
  </p>
</div>

