<div [formGroup]="dataform">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Votre prénom</mat-label>
      <input formControlName="prenom" matInput placeholder="Prénom">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Votre nom</mat-label>
      <input formControlName="nom" matInput placeholder="Nom">
    </mat-form-field>
  </p>
  <app-nested-form formControlName="adresse"></app-nested-form>
  <button mat-raised-button color="primary" [disabled]="dataform.invalid">Valider le formulaire</button>
</div>
